@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}

.page {
  background: #fff;
  overflow: hidden;
  box-shadow: inset 3px 0 10px rgba(0,0,0,0.1);
}

/* Page flip shadow customization */
.stf__block {
  background-color: transparent !important;
}

/* Book opening shadow */
.flipbook-container {
  perspective: 2000px;
}

